@import './../common/reset.module.css';

.container {
  box-sizing: border-box;
  display: inline-flex;
  width: 1200px;
  text-align: center;
  border: 1.2rem solid #009991;
  border-bottom: 1.5rem solid #009991;
}
